password requisite pam_cracklib.so try_first_pass retry={{ password_failed_attempts_before_lockout | default(3) }} type= ucredit=-{{ password_num_uppercase_required | default(1) }} lcredit=-{{ password_num_lowercase_required | default(1) }} dcredit=-{{ password_num_numbers_required | default(1) }} ocredit=-{{ password_num_specialchars_required | default(1) }}
password        [success=1 default=ignore]      pam_unix.so obscure sha512
password        requisite                       pam_deny.so
password        required                        pam_permit.so
