Host 10.235.*
    ForwardAgent yes
    User centos
    ProxyCommand ssh "ec2-user@$(terraform output -state=../terraform/terraform.tfstate nat.ip)" -W %h:%p
    ServerAliveInterval    60
    TCPKeepAlive           yes
    ControlMaster          auto
    ControlPath            ~/.ssh/mux-%r@%h:%p
    ControlPersist         8h
